<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Gestión de Productos</h5>
    </div>
    <div class="card-body">
      <!-- Sección de botones de acción -->
      <div class="btns">
        <button type="button" class="btn btn-success" [routerLink]="['/gestion', 'productos']">Productos</button>
        <button type="button" class="btn btn-success" [routerLink]="['/gestion', 'tipos_productos']">Tipos de productos</button>
      </div>
    </div>
  </div>
</div>