<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Gestión de Productos</h5>
    </div>
    <div class="card-body">
      <!-- Sección de botones de acción -->
      <div class="btn-group-vertical w-100" role="group" aria-label="Botones de acción">
        <!-- Botones con margen de 5px entre ellos -->
        <button type="button" class="btn btn-success mb-1" [routerLink]="['/nuevo_producto']">Nuevo producto</button>
        <button type="button" class="btn btn-success mb-4" [routerLink]="['/nuevo_tipo_producto']">Nuevo tipo de producto</button>
        
        <!-- Separador -->
        <div class="dropdown-divider"></div>
        
        <!-- Botones con margen de 5px entre ellos y 15px de margen con el anterior grupo -->
        <button type="button" class="btn btn-info mb-1" [routerLink]="['/#']" disabled>Editar productos</button>
        <button type="button" class="btn btn-info mb-4" [routerLink]="['/#']" disabled>Editar tipos de productos</button>
        
        <!-- Separador -->
        <div class="dropdown-divider"></div>
        
        <!-- Botones con margen de 5px entre ellos y 15px de margen con el anterior grupo -->
        <button type="button" class="btn btn-danger mb-1" [routerLink]="['/#']" disabled>Eliminar productos</button>
        <button type="button" class="btn btn-danger mb-1" [routerLink]="['/#']" disabled>Eliminar tipos de productos</button>
      </div>
    </div>
  </div>
</div>