<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Gestión de Productos</h5>
    </div>
    <div class="card-body">
      <!-- Sección de botones de acción -->
      <div class="btn-group-vertical w-100" role="group" aria-label="Botones de acción">
        <!-- Botones con margen de 5px entre ellos -->
        <button type="button" class="btn btn-success mb-1" [routerLink]="['/gestion', 'productos']">Productos</button>
        <button type="button" class="btn btn-success mb-4" [routerLink]="['/gestion', 'tipos_productos']">Tipos de productos</button>
      </div>
    </div>
  </div>
</div>