.header {
  background-color: #000000;
  color: white;
  padding: 10px 15px; /* Ajuste el padding para un mejor espacio en móviles */
}

.logo {
  width: 60px;
  height: auto;
  margin-right: 15px; /* Cambiado a margin-right para separación */
}

.nav-link {
  font-size: 16px;
  color: #ffffff;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgb(185, 185, 185);
}

.login-link {
  font-size: 16px;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.loginblock {
  margin-left: auto;
}

.navbar-toggler {
  border-color: #ffffff;
  background-color: white;
}

.dropdown-menu {
  text-align: center;
}