.header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  color: white;
  padding: 0 15px; /* Añadir padding para mantener espacio a los lados */
}

.logo {
  width: 60px;
  height: auto;
  margin-left: 15px; /* Añadir margen a la izquierda */
}

.nav-link {
  font-size: 16px;
  transition: color 0.3s ease;
  color: #ffffff;
}

.nav-link:hover {
  color: rgb(185, 185, 185);
}

.login-link {
  font-size: 16px;
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-link:hover {
  background-color: #0056b3;
  color: white;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .logo {
    margin-left: 15px; /* Mantener margen a la izquierda en pantallas pequeñas */
  }

  .nav-link,
  .login-link {
    padding: 10px 20px;
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
  }

  .navbar-collapse {
    text-align: center;
  }
}

.loginblock
{
  margin-right: 3%;
}