.header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  color: white;
  padding: 0 15px;
}

.logo {
  width: 60px;
  height: auto;
  margin-left: 15px;
}

.nav-link {
  font-size: 16px;
  transition: color 0.3s ease;
  color: #ffffff;
}

.nav-link:hover {
  color: rgb(185, 185, 185);
}

.login-link {
  font-size: 16px;
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-link:hover {
  background-color: #0056b3;
  color: white;
  border-radius: 4px;
}

.loginblock {
  margin-right: 3%;
  transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

/* Estilos para vista móvil */
@media (max-width: 992px) {
  .logo {
    margin-left: 0;
  }

  .nav-link {
    padding: 10px 20px;
    text-align: center;
  }

  .navbar-toggler {
    border-color: #ffffff;
    background-color: white;
  }
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-around; /* Espaciar los elementos */
    width: 100%; /* Asegurar que ocupe toda la anchura disponible */
  }

  .navbar-nav {
    flex-direction: row; /* Mantener dirección como fila para móviles */
  }

  .nav-item {
    width: 100%; /* Asegurarse de que cada elemento ocupe toda la anchura */
  }

  .navbar-brand {
    order: 1; /* Primero el logo */
  }

  .loginblock {
    order: 2; /* Segundo el bloque de login */
  }

  .navbar-toggler {
    order: 3; /* Tercero el botón de menú */
  }
}