<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="logoblanco.png" alt="Logo" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/menu_ropa']">Ropa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tatuajes']">Tatuajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
        </li>
      </ul>
      
      <ul class="navbar-nav loginblock"> <!-- Utiliza ml-md-auto para mover a la derecha en dispositivos medianos y más grandes -->
        <li class="nav-item dropstart" *ngIf="isAuthenticated; else loginBlock">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ userName }}
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="navbarDropdown">
            <ng-container *ngIf="isAdmin">
              <a class="dropdown-item" [routerLink]="['/productos']">Productos</a>
              <a class="dropdown-item" [routerLink]="['/nuevo-tatuaje']">Tatuajes</a>
              <div class="dropdown-divider"></div>
            </ng-container>
            <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
          </div>
        </li>
        <ng-template #loginBlock>
          <li class="nav-item">
            <a class="nav-link login-link" [routerLink]="['/auth']">Iniciar sesión</a>
          </li>
        </ng-template>
      </ul>
      
    </div>
  </nav>
</div>