.footer
{
  background-color: #f7f7f7;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3); /* Sombra hacia arriba */
}

.footer-logo {
    width: 100px;
    height: auto;
    margin: 10px
}

.footer-text {
    font-size: 12px;
}

.footer-links {
    text-align: center;
    font-size: 16px;
}

.footer-link {
    color: #575757;
    text-decoration: none;
    margin: 0 10px;
}

.footer-link:hover {
    color:black
}