<div class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 col-sm-12 mb-3 mb-md-0">
          <div class="d-flex justify-content-center">
            <!-- Logo y Copyright -->
            <img src="logoblanco.png" alt="Logo" class="footer-logo">
          </div>
          <p class="footer-text text-center">© 2024 {{informacion.nombreEmpresa}}, Inc. Todos los derechos reservados.</p>
        </div>

        <!-- Enlaces -->
        <div class="col-md-8 col-sm-12">
          <div class="footer-links d-flex justify-content-center justify-content-md-end flex-wrap">
            <a [routerLink]="['/menu_principal']" class="footer-link d-block text-center mb-2 mx-2">Página principal</a>
            <a [routerLink]="['/menu_ropa']" class="footer-link d-block text-center mb-2 mx-2">Ropa</a>
            <a [routerLink]="['/tatuajes']" class="footer-link d-block text-center mb-2 mx-2">Tatuajes</a>
            <a [routerLink]="['/contacto']" class="footer-link d-block text-center mb-2 mx-2">Contacto</a>
          </div>
        </div>
      </div>
    </div>
  </div>  