.footer {
    background-color: #198754;
    color: white;
    padding: 5px 0;
    width: 100%;
}

.footer-logo {
    width: 100px; /* Tamaño del logo ajustado para dispositivos móviles */
    height: auto; /* Altura automática para mantener la proporción */
    margin: 10px
}

.footer-text {
    font-size: 12px; /* Tamaño de fuente reducido para dispositivos móviles */
}

.footer-links {
    text-align: center; /* Centrar los enlaces en dispositivos móviles */
    font-size: 16px; /* Tamaño de fuente ajustado para dispositivos móviles */
}

.footer-link {
    color: white;
    text-decoration: none;
    margin: 0 10px; /* Margen horizontal para los enlaces */
}

.footer-link:hover {
    text-decoration: underline;
    color: #ffc107;
}