<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner">
        <div *ngFor="let product of products; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
            <div class="d-flex justify-content-center">
                <div class="card product-card">
                    <img class="card-img-top" [src]="product.imagenes[0]" [alt]="product.nombreProducto">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.nombreProducto }}</h5>
                        <p class="card-text">{{ product.descripcionCorta }}</p>
                        <div class="d-flex justify-content-center">
                            <button (click)="verMas(product)" type="button" class="btn btn-sm btn-outline-success">Detalles</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controles de avance y retroceso -->
    <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>

<div class="container">
    <div class="separador">
        <h2>Tipos de productos</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <!-- Tarjetas de productos -->
        <div class="col" *ngFor="let tipoProducto of tiposProductos">
            <div class="card product-card h-100">
                <div class="card-body">
                    <h3 class="card-title">{{ tipoProducto.tipoProducto }}</h3>
                    <button [routerLink]="['/menu_ropa', tipoProducto.tipoProducto]" class="btn btn-outline-success m-2">Ver {{tipoProducto.tipoProducto}}</button>
                </div>
            </div>
        </div>
    </div>
</div>