<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow">
        <div class="card-body">
          
          <div class="text-center">
          <a class="navbar-brand" href="#">
            <img src="logo.png" alt="Logo" class="logo">
          </a>
          </div>

          <h2 class="text-center">{{ formMode === 'login' ? 'Login' : 'Registro' }}</h2>
  
          <!-- Formulario de Login -->
          <form *ngIf="formMode === 'login'" (ngSubmit)="onSubmitLogin()">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control" name="email" [(ngModel)]="loginData.email" required>
            </div>
  
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" id="password" class="form-control" name="password" [(ngModel)]="loginData.password" required>
            </div>
  
            <button type="submit" class="btn btn-outline-secondary w-100">Iniciar sesión</button>

            <div class="my-3">
              <hr class="hr-text" data-content="O">
            </div>

            <div class="auth-switch text-center">
              <p>¿No tienes cuenta? ¡Creala!</p>
            </div>

            <div class="auth-switch text-center mt-1">
              <button type="button" (click)="switchToRegister()" class="btn btn-outline-dark">Registrarse</button>
            </div>

          </form>
  
          <!-- Formulario de Registro -->
          <form *ngIf="formMode === 'register'" (ngSubmit)="onSubmitRegister()">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control" name="email" [(ngModel)]="registerData.email" required>
            </div>
  
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" id="password" class="form-control" name="password" [(ngModel)]="registerData.password" required>
            </div>

            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" id="nombre" class="form-control" name="nombre" [(ngModel)]="registerData.nombre" required>
            </div>
  
            <div class="mb-3">
              <label for="apellidos" class="form-label">Apellidos</label>
              <input type="text" id="apellidos" class="form-control" name="apellidos" [(ngModel)]="registerData.apellidos" required>
            </div>
  
            <div class="mb-3">
              <label for="telefono" class="form-label">Teléfono</label>
              <input type="tel" id="telefono" class="form-control" name="telefono" [(ngModel)]="registerData.telefono" required>
            </div>
  
            <button type="submit" class="btn btn-outline-secondary w-100">Registrarse</button>
            
            <div class="my-3">
              <hr class="hr-text" data-content="O">
            </div>

            <div class="auth-switch text-center">
              <p>Si ya tienes cuenta, acceda a su cuenta.</p>
            </div>

            <div class="auth-switch text-center mt-1">
              <button type="button" (click)="switchToLogin()" class="btn btn-outline-dark">Iniciar sesión</button>
            </div>

          </form>          
        </div>
      </div>
    </div>
  </div>
</div>