<div class="container mt-5">
    <div class="row">
        <!-- Columna de imágenes adicionales -->
        <div class="col-md-6">
            <div class="row mb-2">
                <div class="col-3">
                    <img src="{{ imagenesAdicionales[image - 1] ? imagenesAdicionales[image - 1] : 'addImage.png' }}" class="img-principal img-fluid mb-2" alt="Empty Image# {{image}}" *ngFor="let image of [1, 2, 3, 4];" (click)="openFilePicker(image)">
                </div>
                <div class="col">
                    <!-- Imagen principal -->
                    <img src="{{imagenPrincipal ? imagenPrincipal: 'addImage.png'}}" class="img-secundaria img-fluid mb-2" alt="Empty First Image" (click)="openFilePicker(0)">
                </div>
            </div>
        </div>

        <!-- Columna del formulario -->
        <div class="col-md-6">
            <!-- Formulario -->
            <form [formGroup]="formularioTatuaje" (ngSubmit)="guardarTatuaje()">
                <!-- Nombre -->
                <div class="form-group">
                    <label for="nombreTatuaje">Nombre:</label>
                    <input type="text" class="form-control" id="nombreTatuaje" formControlName="nombreTatuaje" required>
                </div>
                <!-- Descripción Corta -->
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <input type="text" class="form-control" id="descripcion" formControlName="descripcion" required>
                </div>                
                <!-- Botón de guardar -->
                <button type="submit" class="btn btn-dark m-2" [disabled]="formularioTatuaje.invalid || !hayImagenes()">Guardar</button>
                <button type="submit" class="btn btn-danger m-2" (click)="clearData()">Restablecer formulario</button>
            </form>
        </div>
    </div>
</div>
<!-- Input file oculto -->
<input type="file" #fileInput accept="image/*" style="display:none" (change)="handleFileChange($event)">
