<div class="header">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="">
      Gemita Tattoo
    </a>
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" [routerLink]="['/menu_ropa']">Ropa</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/tatuajes']">Tatuajes</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>  
</div>