<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner">
        <div *ngFor="let tatuaje of tatuajes; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
            <div class="d-flex justify-content-center">
                <div class="card product-card">
                    <img class="card-img-top" [src]="tatuaje.imagenes[0]" [alt]="tatuaje.nombre">
                    <div class="card-body">
                        <h5 class="card-title">{{ tatuaje.nombreTatuaje }}</h5>
                        <p class="card-text">{{ tatuaje.descripcion }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controles de avance y retroceso -->
    <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>

<!-- Contenido adicional -->
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Sobre Nosotros</h2>
            <p>Para nosotros tatuajes no son solo dibujos, sino un arte.</p>
            <p>Estamos aquí para ayudarte a encontrar el diseño perfecto que has estado soñando. Ya sea tu primer tatuaje o uno más para añadir a tu colección, nuestro equipo está listo para hacer realidad tus ideas.</p>
            <p>Para obtener su cita puede contactarnos a través de teléfono, WhatsApp, correo electrónico o visitar el local de {{informacion.nombreEmpresa}} en Sevilla.</p>
            <div class="d-flex justify-content-center">
                <button [routerLink]="['/contacto']" class="btn btn-outline-success">Contáctanos</button>
            </div>
        </div>
    </div>
</div>