<!-- en tu archivo .html del componente -->
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Gestión de Tatuajes</h5>
    </div>
    <div class="card-body">
      <!-- Sección de botones de acción -->
      <div class="btn-group-vertical w-100" role="group" aria-label="Botones de acción">
        <button type="button" class="btn btn-success mb-3" [routerLink]="['/nuevo_tatuaje']">Nuevo tatuaje</button>
        
        <!-- Separador -->
        <div class="dropdown-divider"></div>
        
        <button type="button" class="btn btn-info mb-3" [routerLink]="['/#']" disabled>Editar tatuajes</button>
        
        <div class="dropdown-divider"></div>
        
        <button type="button" class="btn btn-danger mb-3" [routerLink]="['/#']" disabled>Eliminar tatuajes</button>
      </div>
    </div>
  </div>
</div>
