<div class="container-fluid p-5">
  <div class="row">
    <!-- Barra lateral de filtro -->
    <aside class="col-12 col-md-2 px-3"> <!-- Cambiamos col-2 por col-12 -->
      <div class="restablecer" (click)="resetFilters()">Restablecer</div>

      <!-- Opciones de filtro como botones -->
      <div class="filter-option" *ngFor="let filter of filterTypes" [ngClass]="{ 'selected': filter.selected | async }" (click)="filterProducts(filter.name)">
        {{ filter.name }}
      </div>      
    </aside>    
    <!-- Contenido principal de productos -->
    <div class="col-md-10">
      <div class="row">
        <div type="button" class="estilo-card-productos productos col-md-3 border m-1 p-3" *ngFor="let product of filteredProducts" (click)="verMas(product)">
          <div class="product-image d-flex justify-content-center align-items-center">
            <img [src]="product.imagenes[0]" [alt]="product.nombreProducto">
          </div>
          <div class="card-body d-flex flex-column m-2">
            <h5 class="card-title">{{ product.nombreProducto }}</h5>
            <p class="card-text">{{ product.descripcionCorta }}</p>
            <h4>
              <strong>
              <span class="integer">{{ product.precio.toFixed(0) }}</span>
                <sup class="decimal">{{ product.precio.toFixed(2).split('.')[1] }} €</sup>
              </strong>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>