.filter-option {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
  }
  
  .filter-option:hover {
    background-color: #e9ecef;
  }

  .selected {
    background-color: #198754;
    color: white; /* Cambia el color del texto para que sea visible sobre el fondo azul */
  }

  .selected:hover {
    background-color: #084428; /* Cambia el color de fondo al hacer hover sobre un filtro seleccionado */
  }

/* Estilos para el contenido principal de productos */
.product-image img {
  height: 300px;
  width: 300px;
  padding-bottom: 5%;
}

/* Estilo para los dígitos enteros del precio */
.integer {
  font-size: 25px; /* Tamaño de fuente más grande para los dígitos enteros */
}

/* Estilo para los decimales del precio */
.decimal {
  font-size: 18px; /* Tamaño de fuente más pequeño para los decimales */
}