.filter-option {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
  }

  .filter-option-todo {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #000000;
    color: white;
    transition: background-color 0.3s ease;
    margin-bottom: 5%;
  }
  
  .filter-option:hover {
    background-color: #6e6e6e;
  }

  .filter-option-todo:hover {
    background-color: #b4b4b4;
  }

  .selected {
    background-color: #000000;
    color: white; /* Cambia el color del texto para que sea visible sobre el fondo azul */
  }

  .selected:hover {
    background-color: #969696; /* Cambia el color de fondo al hacer hover sobre un filtro seleccionado */
  }

/* Estilos para el contenido principal de productos */
.product-image img {
  height: 300px;
  width: 300px;
  padding-bottom: 5%;
}

.product-image
{
  background-color: white;
}

/* Estilo para los dígitos enteros del precio */
.integer {
  font-size: 25px; /* Tamaño de fuente más grande para los dígitos enteros */
}

/* Estilo para los decimales del precio */
.decimal {
  font-size: 18px; /* Tamaño de fuente más pequeño para los decimales */
}

.estilo-card-productos
{
  background-color: black;
  color:white;
}