@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilo general de página */
body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('/background.png');
  background-repeat: repeat;
  background-size: 10%;
}