.logo
{
    width: 120px;
    height: auto;
    padding-bottom: 20px;
}

.row {
    margin-bottom: 30px; /* Espacio entre las filas de contenido */
}

.container {
    background-color: #f9f9f9;
    padding: 50px 0;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product-image img {
    height: 300px;
    width: 300px;
    padding-bottom: 5%;
  }

  .product-image
{
  background-color: white;
}

.estilo-card-productos
{
  background-color: black;
  color:white;
}